.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.signup-form{
  background-color: rgba(69, 69, 69, 0.532);
  width: 350px;
  margin: 2%;
  padding: 20px;
  font-size: 22px;
  border: 2px solid white;
  border-radius: 20px;
}
body {
  color: antiquewhite;
  margin: 0;
  background: linear-gradient(36deg, rgb(4, 12, 45), rgb(12, 87, 55),rgb(4, 12, 45));
  font-family: 'Poppins', sans-serif;
}
.input-field{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
input{
  background-color: transparent;
  color: antiquewhite;
  width: 100%;
  height:25px;
  border-radius: 5px;
  border-width: 1px;
  border-color: antiquewhite;
}
button{
  margin: 15px;
  padding: 10px;
  width: 40%;
  font-size: 25px;
  border-radius: 10px;
  border-color: antiquewhite;
  background-color: rgb(65, 216, 48);
  color: antiquewhite;
  text-decoration: underline;
}
.gray-button{
  background-color: rgba(69, 69, 69, 0.532);
  text-decoration: none;
}
h1{
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 14px;
  text-decoration: underline;
}
@media only screen and (max-width: 450px) {
  .signup-form{
    width: 300px;
  }
  .input-field{
    padding: 6px;
  }
}